* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  box-sizing: border-box;
}

html {
  overflow: auto;
}
body {
  font-size: 16px;
  overflow: hidden;
  @media screen and(min-width: $Tablet) {
    font-size: 20px;
  }
}

.wrapper {
  width: 85%;
  max-width: $Desktop;
  margin: 0 auto;
  position: relative;

  @media screen and(min-width: $Tablet) {
    width: 80%;
  }
}
