.info-page-section {
  background-color: hsl(0, 0%, 95%);
  padding-bottom: 80px;

  .info-text {
    text-align: center;
    margin-bottom: 120px;
    .article-info-title {
      margin-bottom: 20px;
      font-size: 1.75em;
      font-weight: 900;
      color: $Very-Dark-Violet;
    }
    .article-info-text {
      color: $Grayish-Violet;
    }
  }
  .info-cards {
    .info-card {
      position: relative;
      background: #ffff;
      text-align: center;
      height: 290px;
      border-radius: 10px;
      margin-bottom: 90px;
      padding: 23px;
      padding-top: 80px;

      &:nth-child(3) {
        margin-bottom: 0;
      }
      &:nth-child(1) > .card-image {
        background: $Dark-Violet url("/images/icon-brand-recognition.svg")
          no-repeat center;
        background-size: 50%;
      }
      &:nth-child(2) > .card-image {
        background: $Dark-Violet url("/images/icon-detailed-records.svg")
          no-repeat center;
        background-size: 50%;
      }
      &:nth-child(3) > .card-image {
        background: $Dark-Violet url("/images/icon-fully-customizable.svg")
          no-repeat center;
        background-size: 50%;
      }

      .card-image {
        width: 90px;
        height: 90px;
        border-radius: 50%;

        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
      }
      .title-card {
        margin-bottom: 20px;
        font-size: 1.6em;
      }
      .text-card {
        color: $Grayish-Violet;
      }
    }
  }
}
