.footer {
  padding-bottom: 60px;
  position: relative;
  .brand-footer {
    margin: 60px 0 20px 0;
  }
  background: $Very-Dark-Violet;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer-section {
    margin: 20px auto;
    text-align: center;
    .footer-section-title {
      margin-bottom: 20px;
    }
    .text-footer {
      color: $Gray;
      padding: 5px;
    }
  }
  .socials {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .attribution {
    color: white;
    position: absolute;
    font-size: 0.8em;
    bottom: 5px;
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}
