.header {
  background: #ffff;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and(min-width: $Tablet) {
    flex-wrap: nowrap;
  }

  .close {
    .middle-bar {
      transform: translateX(-50px);
      visibility: hidden;
      transition: all 0.2s;
    }

    .top-bar {
      transform: rotate(45deg);
      transition: all 0.5s;
    }
    .bottom-bar {
      transform: rotate(-45deg) translateY(-11px) translateX(11px);
      transition: all 0.5s;
    }
  }
  .burger-menu {
    width: 25px;
    height: 25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .middle-bar,
    .top-bar,
    .bottom-bar {
      width: 100%;
      height: 3px;
      background: $Grayish-Violet;
    }
    @media screen and(min-width: $Tablet) {
      display: none;
    }
  }

  .navbar {
    background: $Dark-Violet;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    margin-top: 55px;
    border-radius: 10px;

    @media screen and(min-width: $Tablet) {
      position: static;
      background: none;
      margin: 0 0px 0 20px;
      justify-content: flex-end;

      .navbar-items {
        display: flex;
      }
      .navbar-items-user {
        display: flex;
        justify-content: flex-end;
      }
    }

    .navbar-items {
      border-bottom: 2px solid hsl(257, 20%, 33%);
      @media screen and(min-width: $Tablet) {
        border: none;
      }
    }

    .navbar-items,
    .navbar-items-user {
      width: 85%;
      text-align: center;
      margin: 30px auto;
      li {
        list-style: none;
        margin: 20px;

        a {
          -webkit-tap-highlight-color: transparent;
          text-decoration: none;
          color: #ffff;
          font-weight: 500;
          display: block;
          font-size: 1.2em;
          padding: 10px;
          border-radius: 500px;
          /* background: cyan; */
          width: 100%;

          &:active {
            background: $Gray;
            @media screen and(min-width: $Tablet) {
              color: white;
            }
          }
        }
        a.log-item {
          &:active {
            background: $Cyan;
          }
        }
      }
      @media screen and(min-width: $Tablet) {
        margin: 0;
        li {
          margin: 0 10px;
          a {
            padding: 0 8px;
            font-size: 0.75em;
            color: $Gray;
            @media screen and(min-width: 1100px) {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
  .navbar.visible {
    display: none;
    @media screen and(min-width: $Tablet) {
      display: flex;
    }
  }
}
