.links {
  background: hsl(0, 0%, 95%);
  display: flex;
  padding-bottom: 70px;

  .card-input-link {
    margin-top: -100px;
    width: 100%;
    padding: 30px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 23px;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: $Dark-Violet url("../../../images/bg-shorten-mobile.svg")
      no-repeat;
    background-position: 100% 0;

    .input-link {
      width: 100%;
      height: 45px;
      padding: 10px;
      font-size: 1.1em;
      border-radius: 5px;
    }
    .btn-input-link {
      width: 100%;
      color: #ffffff;
      background: $Cyan;
      margin-top: 20px;
      height: 45px;
      display: flex;
      padding: 15px;
      font-size: 1.2em;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.error {
  color: hsl(0, 87%, 67%);
  align-self: flex-start;
  margin-top: 5px;
}
