.links {
  background: hsl(0, 0%, 95%);
  display: flex;
  padding-bottom: 70px;

  .card-input-link {
    margin-top: -100px;
    width: 100%;
    padding: 30px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 23px;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: $Dark-Violet url("../../images/bg-shorten-mobile.svg") no-repeat;
    background-position: 100% 0;
    .input-container {
      width: 100%;
      .input-link {
        width: 100%;
        height: 45px;
        padding: 10px;
        font-size: 1.1em;
        border-radius: 5px;
      }
      .spinner {
        margin: auto;
        display: none;
        margin-top: 20px;
        height: 30px;
        width: 70px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50px;
        }
      }
    }

    .btn-input-link {
      width: 100%;
      color: #ffffff;
      background: $Cyan;
      margin-top: 20px;
      height: 45px;
      display: flex;
      padding: 15px;
      font-size: 1.2em;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .output-links {
    width: 100%;
    height: auto;
    //
    .card-output-link {
      width: 100%;
      height: auto;
      margin-top: 20px;
      background: #ffffff;
      border-radius: 5px;
      .header-card {
        padding: 10px;
        height: auto;
        color: $Very-Dark-Blue;
        border-bottom: 1px solid $Gray;
      }
      .content {
        padding: 10px;

        .short-link {
          color: $Cyan;
        }
        .copy-btn {
          background: $Cyan;
          text-decoration: none;
          color: #ffffff;
          border-radius: 5px;
          height: 40px;
          width: 100%;
          display: block;
          padding: 10px;
          text-align: center;
          margin: 10px 0;
          position: relative;

          .modal {
            width: auto;
            border-radius: 10px;
            padding: 10px;
            background: rgb(180, 178, 178);
            position: absolute;
            top: -60px;
            right: -50px;
          }
        }
      }
    }
  }
}

.error {
  color: hsl(0, 87%, 67%);
  align-self: flex-start;
  margin-top: 5px;
}
