* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 85%;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
}

.header {
  background: #ffff;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .close .middle-bar {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .close .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .close .bottom-bar {
  -webkit-transform: rotate(-45deg) translateY(-11px) translateX(11px);
          transform: rotate(-45deg) translateY(-11px) translateX(11px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .burger-menu {
  width: 25px;
  height: 25px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .burger-menu .middle-bar,
.header .burger-menu .top-bar,
.header .burger-menu .bottom-bar {
  width: 100%;
  height: 3px;
  background: #9e9aa7;
}

.header .navbar {
  background: #3b3054;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 410px;
  margin-top: 55px;
  border-radius: 10px;
}

.header .navbar .navbar-items {
  border-bottom: 2px solid #4d4365;
}

.header .navbar .navbar-items,
.header .navbar .navbar-items-user {
  width: 85%;
  text-align: center;
  margin: 30px auto;
}

.header .navbar .navbar-items li,
.header .navbar .navbar-items-user li {
  list-style: none;
  margin: 20px;
}

.header .navbar .navbar-items li a,
.header .navbar .navbar-items-user li a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
  display: block;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 500px;
  /* background: cyan; */
  width: 100%;
}

.header .navbar .navbar-items li a:active,
.header .navbar .navbar-items-user li a:active {
  background: #bfbfbf;
}

.header .navbar .navbar-items li a.log-item:active,
.header .navbar .navbar-items-user li a.log-item:active {
  background: #2acfcf;
}

.header .navbar.visible {
  display: none;
}

.main-section {
  position: relative;
  overflow: hidden;
  max-width: 375px;
  padding-bottom: 170px;
}

.main-section .main-section-image {
  margin-top: 10px;
  width: 150%;
  height: 300px;
  background: url("../../images/illustration-working.svg") no-repeat;
  background-size: cover;
}

.main-section .main-section-info {
  margin-top: 30px;
  text-align: center;
}

.main-section .main-section-info .section-info-title {
  font-weight: 800;
  color: #35323e;
  font-size: 2.4em;
  line-height: 50px;
  margin-bottom: 10px;
}

.main-section .main-section-info .section-info-text {
  color: #9e9aa7;
  font-size: 1.1em;
  line-height: 28px;
}

.main-section .main-section-info .btn-main-section {
  text-decoration: none;
  color: #ffffff;
  border-radius: 500px;
  text-align: center;
  display: block;
  padding: 15px;
  width: 190px;
  font-size: 1.2em;
  height: 60px;
  margin: 30px auto;
  background: #2acfcf;
  cursor: pointer;
}

.links {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}

.links .card-input-link {
  margin-top: -100px;
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin-bottom: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background: #3b3054 url("../../images/bg-shorten-mobile.svg") no-repeat;
  background-position: 100% 0;
}

.links .card-input-link .input-container {
  width: 100%;
}

.links .card-input-link .input-container .input-link {
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
}

.links .card-input-link .btn-input-link {
  width: 100%;
  color: #ffffff;
  background: #2acfcf;
  margin-top: 20px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  font-size: 1.2em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: #f46262;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5px;
}

.info-page-section {
  background-color: #f2f2f2;
  padding-bottom: 80px;
}

.info-page-section .info-text {
  text-align: center;
  margin-bottom: 120px;
}

.info-page-section .info-text .article-info-title {
  margin-bottom: 20px;
  font-size: 1.75em;
  font-weight: 900;
  color: #232127;
}

.info-page-section .info-text .article-info-text {
  color: #9e9aa7;
}

.info-page-section .info-cards .info-card {
  position: relative;
  background: #ffff;
  text-align: center;
  height: 290px;
  border-radius: 10px;
  margin-bottom: 90px;
  padding: 23px;
  padding-top: 80px;
}

.info-page-section .info-cards .info-card:nth-child(3) {
  margin-bottom: 0;
}

.info-page-section .info-cards .info-card:nth-child(1) > .card-image {
  background: #3b3054 url("../../images/icon-brand-recognition.svg") no-repeat center;
  background-size: 50%;
}

.info-page-section .info-cards .info-card:nth-child(2) > .card-image {
  background: #3b3054 url("../../images/icon-detailed-records.svg") no-repeat center;
  background-size: 50%;
}

.info-page-section .info-cards .info-card:nth-child(3) > .card-image {
  background: #3b3054 url("../../images/icon-fully-customizable.svg") no-repeat center;
  background-size: 50%;
}

.info-page-section .info-cards .info-card .card-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.info-page-section .info-cards .info-card .title-card {
  margin-bottom: 20px;
  font-size: 1.6em;
}

.info-page-section .info-cards .info-card .text-card {
  color: #9e9aa7;
}

.promo {
  color: white;
  background: #3b3054 url("../../images/bg-boost-mobile.svg") no-repeat;
  background-size: cover;
  padding: 120px 0px 60px 0px;
  text-align: center;
}

.promo .promo-title {
  font-size: 1.7em;
}

.promo .btn-boost-section {
  text-decoration: none;
  color: #ffffff;
  border-radius: 500px;
  text-align: center;
  display: block;
  padding: 15px;
  width: 190px;
  font-size: 1.2em;
  height: 60px;
  margin: 20px auto;
  background: #2acfcf;
  cursor: pointer;
}

.footer {
  padding-bottom: 60px;
  position: relative;
  background: #232127;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .brand-footer {
  margin: 60px 0 20px 0;
}

.footer .footer-section {
  margin: 20px auto;
  text-align: center;
}

.footer .footer-section .footer-section-title {
  margin-bottom: 20px;
}

.footer .footer-section .text-footer {
  color: #bfbfbf;
  padding: 5px;
}

.footer .socials {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.footer .attribution {
  color: white;
  position: absolute;
  font-size: 0.8em;
  bottom: 5px;
}

.footer .attribution a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */